In [6]:
import os
import numpy as np
import pandas as pd
import csv
import gc

files = os.listdir()

In [8]:
a_traincsv = os.listdir('training')
b_traincsv = os.listdir('training_setB')



with open('train_patient.csv', 'w') as csvoutput:
    writer = csv.writer(csvoutput, lineterminator='\n')

    for ind, csv_name in enumerate(a_traincsv):
        with open('training/'+ csv_name,'r') as csvinput:


            reader = csv.reader(csvinput, delimiter='|')
            all = []

            if ind ==0 :
                row = next(reader)
                row.append('Patient_id')
                row.append('time')
                all.append(row)
            else:
                row = next(reader)

            for i,row in enumerate(reader):
                row.append(ind)
                row.append(i)


                all.append(row)

            writer.writerows(all)


    num = ind 


    for inde, csv_name in enumerate(b_traincsv):
        if inde < 10000:
            num = num+1
            with open('training_setB/'+ csv_name,'r') as csvinput:


                reader = csv.reader(csvinput, delimiter='|')
                all = []


                row = next(reader)
                for i,row in enumerate(reader):
                    row.append(num)
                    row.append(i)


                    all.append(row)

                writer.writerows(all)

In [15]:
train_df = pd.read_csv('train_patient.csv')
train_df.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,83.14,0,NaN,NaN,-0.03,1,0,0,0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,83.14,0,NaN,NaN,-0.03,2,0,0,1
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,83.14,0,NaN,NaN,-0.03,3,0,0,2
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,83.14,0,NaN,NaN,-0.03,4,0,0,3
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,83.14,0,NaN,NaN,-0.03,5,0,0,4

In [12]:
with open('val_patient.csv', 'w') as csvoutput:
    writer = csv.writer(csvoutput, lineterminator='\n')

    for inde, csv_name in enumerate(b_traincsv):
    
        if inde >= 10000 and inde < 15000:
            with open('training_setB/'+ csv_name,'r') as csvinput:


                reader = csv.reader(csvinput, delimiter='|')
                all = []


                if inde == 10000:
                    row = next(reader)
                    row.append('Patient_id')
                    row.append('time')
                    all.append(row)
                else:
                    row = next(reader)

                for i,row in enumerate(reader):
                    row.append(inde)
                    row.append(i)


                    all.append(row)

                writer.writerows(all)

In [16]:
val_df = pd.read_csv('val_patient.csv')
val_df.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,56,1,1.0,0.0,-5.07,1,0,10000,0
1,97.5,98.0,36.3,146.5,114.0,91.0,24.0,NaN,NaN,NaN,...,NaN,56,1,1.0,0.0,-5.07,2,0,10000,1
2,93.0,100.0,NaN,145.5,111.0,88.5,18.0,NaN,NaN,NaN,...,NaN,56,1,1.0,0.0,-5.07,3,0,10000,2
3,87.0,100.0,NaN,142.0,109.0,87.0,20.0,NaN,NaN,NaN,...,NaN,56,1,1.0,0.0,-5.07,4,0,10000,3
4,93.5,99.5,NaN,134.5,106.5,87.0,20.0,NaN,NaN,NaN,...,NaN,56,1,1.0,0.0,-5.07,5,0,10000,4

In [14]:
with open('test_patient.csv', 'w') as csvoutput:
    writer = csv.writer(csvoutput, lineterminator='\n')

    for inde, csv_name in enumerate(b_traincsv):
    
        if inde >= 15000:
            with open('training_setB/'+ csv_name,'r') as csvinput:


                reader = csv.reader(csvinput, delimiter='|')
                all = []


                if inde ==15000 :
                    row = next(reader)
                    row.append('Patient_id')
                    row.append('time')
                    all.append(row)
                else:
                    row = next(reader)

                for i,row in enumerate(reader):
                    row.append(inde)
                    row.append(i)


                    all.append(row)

                writer.writerows(all)

In [17]:
test_df = pd.read_csv('test_patient.csv')
test_df.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,74,1,NaN,NaN,-43.69,1,0,15000,0
1,67.0,95.0,NaN,165.5,106.0,76.0,NaN,NaN,NaN,NaN,...,NaN,74,1,NaN,NaN,-43.69,2,0,15000,1
2,62.0,95.0,36.0,161.0,104.0,75.0,NaN,NaN,NaN,NaN,...,NaN,74,1,NaN,NaN,-43.69,3,0,15000,2
3,68.0,96.0,NaN,155.5,101.5,73.5,NaN,NaN,NaN,NaN,...,NaN,74,1,NaN,NaN,-43.69,4,0,15000,3
4,65.0,95.0,36.1,142.0,87.0,61.0,NaN,NaN,NaN,NaN,...,NaN,74,1,NaN,NaN,-43.69,5,0,15000,4